
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>NetSapiens Hosted Domain Migration Form</title>
<link rel="stylesheet" type="text/css" href="view.css" media="all">
<script type="text/javascript" src="view.js"></script>

</head>
<body id="main_body" >
<center><img src="http://bananaphone.us/images/index.4.jpg"><img src="http://4.bp.blogspot.com/_OJl6ATsGFco/TLZtA_9gGII/AAAAAAAAHas/hjwlj6g49Ls/s1600/assdasdasasdasdasdasdsad.jpg"></center>	
	<img id="top" src="top.png" alt="">
	<div id="form_container">
	
		<h1><a>NetSapiens Hosted Domain Migration Form</a></h1>
		<%= yield %>
		<div id="footer">
			By Reza Ambler and Three Dot Loft
		</div>
	</div>
	<img id="bottom" src="bottom.png" alt="">
	</body>
</html>
